<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1><%= t :home %></h1>

    <h2>
      <%= t :greetings  %>
    </h2>

    <%= link_to t("sessions.new.sign_up"), signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>