<% provide(:title, t("users.edit.title")) %> 
<h1><%= t("users.edit.title")%></h1>
<%provide(:submit, t("users.edit.submit"))%>
<%= render 'users/edit'%>
<%= gravatar_for @user %>
    <a href="http://gravatar.com/emails"><%= t "users.edit.change"%></a>
    </div>
    </div>