<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <section class="span8">
  	<h3><%= t "users.show.event.text", :event => pluralize(@user.events.size, t("users.show.event.name"))%></h3>
  	<ul>
  		<% @user.events.each do |event|%>
  			<li><%= link_to event.name, event%></li>
  		<%end%>
  	</ul>
  </section>
</div>
