<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= t("shared.error.msg", error: pluralize(object.errors.count, t("shared.error.name")))%>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
